h1 {
 background-color: cyan;
 color: white;
 font-size: 28px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    background-color: cyan;
    text-align: center;
}

li {
    background-color: cyan;
    color: cyan;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
}